/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

/*code starts here */

.container {
  width: 850px;
  margin: auto;
  border: 3px rgb(73, 71, 70);
}

header {
  width: 100%;
  display: flex;
}

.image1 {
  display: none;
}

header nav {
  width: 800px;
  display: flex;
  /*justify-content: space-between;*/
  margin-top: 30px;
}

header nav a {
  flex: 1;
  margin-right: 0;
  font-size: 17px;
  color: rgb(70, 59, 59);
  text-decoration: none;
}
header nav .img2 {
  flex: 1;
  margin-right: 0;
}

.content {
  display: flex;
  flex-direction: row;
}

.content-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 50px;
  vertical-align: center;
  margin-top: 100px;
  text-align: center;
  padding: 0px 50px;
}

.content-image {
  flex: 1;
}
.content .content-text button {
  background: white;
  vertical-align: top;
  margin-top: 5px;
  padding: 8px 50px;
  font-size: 18px;
  border: 3px solid rgb(95, 92, 92);
  cursor: pointer;
}

/*********************************/

@media (min-width: 501px) and (max-width: 800px) {
  .container {
    width: 770px;
    margin: auto;
    padding: auto;
  }

  .container header {
    display: flex;
    flex-direction: column;
  }
  header {
    width: 770px;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .image1 {
    display: block;
    align-items: center;
  }

  .logo1 {
    width: 100%;
    margin-bottom: 10px;
  }
  header nav {
    width: 770px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding-left: 15px;
    margin: auto;
  }
  header nav a {
    text-align: center;
  }
  .logo {
    display: none;
  }

  .content {
    display: flex;
  }

  .content-text {
    margin: auto;
    width: auto;
  }

  .content .content-text button {
    width: 40%;
    background: white;
    vertical-align: top;
    margin: auto;
    padding: 8px 50px;
    font-size: 18px;
    border: 3px solid rgb(95, 92, 92);
    cursor: pointer;
  }

  .content-text h1 {
    display: flex;
    align-content: center;
    margin: auto;
    width: auto;
    margin-bottom: 25px;
  }

  .content img {
    display: none;
  }

  .content2 .middle-img {
    width: 770px;
  }
  h3 {
    margin: 10px 15px 10px 10px;
  }
  p {
    text-align: left;
    margin: 10px 15px 10px 10px;
  }

  footer p {
    text-align: center;
    font-size: 15px;
  }

  .content3 {
    width: 100%;
    text-align: left;
    margin: 10px 25px 10px 10px;
  }
}

/* *************************** */

header .logo {
  margin: 40px 0 0 50px;
}

.content img {
  margin-top: 59px;
}

.content2 {
  border-top: 3px solid rgb(71, 71, 83);
  margin-top: 56px;
  padding-top: 30px;
  border-bottom: 3px solid rgb(71, 71, 83);
}

.content2 .sub-content2t {
  padding: 5px 15px;
}

.sub-content2 {
  display: flex;
}
.text-content {
  width: 100%;
  flex-direction: row;
  margin-right: 15px;
  margin-top: 15px;
}

.content2 .middle-img {
  margin-top: 40px;
}

.content3 {
  display: flex;
  margin-bottom: 30px;
}

.text-content {
  width: 100%;
  flex-direction: row;
  margin-right: 15px;
  margin-top: 15px;
}

p {
  display: block;
}

.text-content:last-child {
  margin-right: 0;
}

.contact-info {
  margin-top: 30px;
}

footer {
  margin: 32px 0;
  text-align: center;
  font-size: 15px;
}

/* ******************************** */
@media (max-width: 500px) {
  .container {
    width: 400px;
    margin: 0 auto;
    padding: 0 auto;
  }

  header {
    width: 380px;
    flex-direction: column;

    align-items: center;
    margin-top: 30px;
  }

  header nav {
    width: 380px;
    flex-direction: column;
  }

  header nav a {
    flex-direction: column;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 20px;
    border-bottom: 2px solid rgb(71, 71, 83);
  }

  .image1 {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    border-bottom: 2px solid rgb(71, 71, 83);
  }

  .logo1 {
    width: 170px;
    margin-bottom: 25px;
  }

  .logo {
    display: none;
  }

  .content img {
    display: none;
  }

  .content2 .middle-img {
    width: 100%;
  }

  .sub-content2 {
    margin: auto;
    flex-direction: column;
  }
  p {
    text-align: left;
    margin-bottom: 20px;
  }

  .content3 {
    margin: auto;
    display: block;
    flex-direction: column;
  }

  .content3 .text-content p {
    text-align: left;
    margin-bottom: 40px;
  }

  footer p {
    text-align: center;
    font-size: 15px;
  }
}
